.container-main {
  margin: auto;
  padding: 0;
  min-height: 100vh;
}

.container-card {
  position: relative;
  margin: auto;
  
}

.back-img {
  width: 100%;
  max-width: 100%;
}

.card1 {
  position: absolute;
  margin-top: -210px;
  margin-left: 60px;
  width: 300px;
  height: 200px;
}

.card1 img {
  max-width: 100%;
}

.input-back-card {
  position: absolute;
  margin-left: 36px;
  margin-top: 69px;
  height: 20px;
  width: 230px;
  background-color: transparent;
  border: none;
  pointer-events: none;
}

.card2 {
  position: absolute;
  margin-left: 15px;
  margin-top: -117px;
  width: 300px;
  height: 200px;
}

.card2 img {
  max-width: 100%;
}

.span-front-card-1 {
  position: absolute;
  margin-top: 130px;
  margin-left: 15px;
  color: white;
  font-size: 0.7em;
  letter-spacing: 1px;
}

.span-front-card-2 {
  position: absolute;
  margin-top: 130px;
  right: 15px;
  color: white;
  font-size: 0.7em;
  letter-spacing: 1.5px;
}

.icon-card {
  position: absolute;
  max-width: 100%;
  width: 60px;
  height: 35px;
  margin-top: 15px;
  margin-left: 15px;
}

.input-front-card {
  position: absolute;
  width: 270px;
  height: 30px;
  margin-top: 90px;
  margin-left: 13px;
  background-color: transparent;
  border: none;
  pointer-events: none;
}

.form-container {
  height: 400px;
  width: 350px;
  margin: 90px auto 0 auto;
}

.form-main {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.form-main input {
  height: 40px;
  border-radius: 6px;
  border: solid 1px #ECEDED;
  padding-left: 10px;
  font-size: 1.1em;
}

.form-main input::placeholder {
  color: #C7C3C9;
  letter-spacing: 1px;
}

.form-main label {
  font-size: 0.8em;
  letter-spacing: 1.5px;
}

.form-main span {
  font-size: 0.7em;
  color: red;
}

.form-main button {
  height: 45px;
  margin-top: 20px;
  background-color: #230830;
  border-radius: 6px;
  border: none;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
}

.container-date {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#date {
  width: 70px;
}

#year {
  width: 70px;
}

#cvc {
  width: 150px;
}

.exp-date {
  display: grid;
  gap: 8px;
  grid-template-areas: "month-area year-area num-area" "span1-area span2-area span3-area";
}

.inputMonth {
  grid-area: month-area;
}

.inputYear {
  grid-area: year-area;
}

.inputNum {
  grid-area: num-area;
}

.errorMonth {
  grid-area: span1-area;
}

.errorYear {
  grid-area: span2-area;
}

.errorCvc {
  grid-area: span3-area;
}

.container-labels {
  display: flex;
  gap: 25px;
}

.complete-state {
  height: 400px;
  width: 350px;
  margin: 90px auto 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.complete-state img {
  width: 80px;
  height: 80px;
}

.complete-state h2 {
  margin-top: 15px;
  letter-spacing: 4px;
  font-size: 1.5em;
}

.complete-state p {
  color: gray;
  letter-spacing: 1px;
}

.complete-state button {
  width: 90%;
  height: 45px;
  margin-top: 20px;
  background-color: #230830;
  border-radius: 6px;
  border: none;
  color: white;
  font-size: 1.2em;
}

@media (min-width: 500px) {

  .container-main {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .back-img {
    max-width: 100%;
    min-height: 100vh;
  }

  .container-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .card2 {
    width: 400px;
    height: 300px;
    margin-left: 200px;
    margin-top: -250px;
  }

  .card1 {
    width: 400px;
    height: 300px;
    margin-top: 250px;
    margin-left: 280px;
  }

  .container-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .input-front-card {
    margin-top: 120px;
  }

  .span-front-card-1 {
    margin-top: 180px;
    margin-left: 30px;
    font-size: 0.9em;
  } 

  .span-front-card-2 {
    margin-top: 180px;
    margin-right: 18px;
    font-size: 0.9em;
  }

  .input-back-card {
    margin-top: 95px;
    margin-left: 120px;
  }

  .form-container {
    margin-top: -5px;
  }
}